body{
	font-family: verdana;
	margin: 0;
}
/*Inicio de Diseño de cabecera*/
header{
	display: flex;
	height: 100px;
	background-color: #0CBCE8;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
a{
	color: black;
	text-decoration: none;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	height: 60px;
	margin-right: 20px;
}

nav a{
	font-weight: 300px;
	padding-right: 5px;
}
/*Final de Cabecera*/
main{
	width: 1263px;
	height: 4000px;
	background-color: #0CE8C3;
}
article{
	width: 700px;
	height: 500px;
	background-image:
}
.iz{
	background: white;
	height: 100vh;
	width: 50%;
}
.link{
	text-align: center;
}
.de{
	background: url(proeducation1.jpg);
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 100vh;
}
#pantalla-dividida{
	display: flex;
}
.creativer{
	color: #0484BF;
}
h1{
	font-size: 60px;
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 150px;
}
p{
	font-size: 19px;
	line-height: 30px;
	width: 50%;
	margin: auto;
}
.bienvenida{
	border: 3px solid #0CE8C3;
	padding: 20px;
	text-decoration: none;
	color: #0CE8C3;
	border-radius: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 30px;
}
footer{
	background-color: #0CBCE8;
	width: 2000px;
	height: 30px;
	bottom: 0px;
	position: fixed;
	text-decoration: none;
}